{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
{{tr.add_coach}}
{% endblock %}

{% block content %}
<form method="post" id="coach-form">
{% csrf_token %}
<div class="container">
    <p class="title headline">{{ tr.adding_coach }}</p>
    <div class="grid">
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="lastname" class="input" placeholder="{{tr.add_coach_page_lastname}}" form="coach-form" value="{% if form.lastname.value %}{{ form.lastname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="firstname" class="input" placeholder="{{tr.add_coach_page_firstname}}" form="coach-form" value="{% if form.firstname.value %}{{ form.firstname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="secondname" class="input" placeholder="{{tr.add_coach_page_secondname}}" form="coach-form" value="{% if form.secondname.value %}{{ form.secondname.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="email" class="input" placeholder="E-mail" form="coach-form" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        <div class="name_input_container">
          <input type="text" name="phone" class="input" placeholder="{{ tr.phone }}" form="coach-form" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}"/>
          <div class="alarm">
            <img
              src="{% static 'assets/img/arrows/star.png' %}"
            />
          </div>
        </div>
      </div>
      <div class="grid_item">
        {{ form.tshirt_size }}
        <div class="arrow">
          <img
            class="arrowimg"
            src="{% static 'assets/img/arrows/up.png' %}"
          />
        </div>
        <div class="alarm">
          <img
            src="{% static 'assets/img/arrows/star.png' %}"
          />
        </div>
      </div>
    </div>
    <div class="dirow center">
        <div class="flex restriction restriction_center">
            <h6>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{error}}</br>
                {% endfor %}
                {% endfor %}
            </h6>
        </div>
        <div class="flex button_add">
            <button class="button signUp-button" type="submit" form="coach-form">{{tr.create}}</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
