{% extends 'wrapper.html' %}

{% block title %}
{{ tr.common_info_page_titl }}
{% endblock %}

{% block content %}
<main>
    <article class="common-info large-text noised d-flex">
        <div class="container">
            <h3 class="title subtitle">{{ tr.common_info_page_qualification }}</h3>
            <h4 class="title subsubtitle">{{ tr.common_info_page_qualification_purpose }}</h4>

            <ul>
                <li class="text">{{ tr.common_info_page_qualification_goals_1 }}</li>
                <li class="text">{{ tr.common_info_page_qualification_goals_2 }}</li>
            </ul>

            <p class="color-red text">{{ tr.common_info_page_qualification_dates_1 | safe }}<br>
                {{ tr.common_info_page_qualification_dates_2 | safe}}</p>

            <p class="text">{{ tr.common_info_page_qualification_rules }}</p>

            <p class="text">{{ tr.common_info_page_qualification_pass_condition | safe }}</p>

            <h4 class="title subsubtitle">{{ tr.common_info_page_access_to_system }}</h4>

            <p class="text">{{ tr.common_info_page_statements_availability }}</p>

            <p class="text">{{ tr.common_info_page_registration_confirmation | safe }}</p>

            <p class="text">{{ tr.common_info_page_logins_passwords }}</p>
            <h3 class="title subtitle">{{ tr.common_info_page_semifinal_info }}</h3>
            <p class="text">{{ tr.common_info_page_semifinal_dates | safe }}</p>
            <p class="text">{{ tr.common_info_page_semifinal_participants | safe }}</p>
            <p class="text">{{ tr.common_info_page_semifinal_rules | safe }}</p>
            <p class="text">{{ tr.common_info_page_fair_play_rules | safe }}</p>
            <ul>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_1 }}</li>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_2 }}</li>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_3 }}</li>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_4 }}</li>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_5 }}</li>
                <li class="text">{{ tr.common_info_page_fair_play_rules_list_6 }}</li>
            </ul>
            <p class="text">{{ tr.common_info_page_disqualification_warning }}</p>
        </div>
    </article>
</main>
{% endblock %}