{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
<main>
  <section id="main-section">
    <img
      src="{% static 'assets/img/logo.svg' %}"
      alt="BSUIR Open logo"
      class="bsuir-open-logo"
    />
    <h1 class="main-title">{{ tr.title }}</h1>
    <img src="{% static 'assets/img/tower.png' %}" alt="tower" class="tower" />
    <img src="{% static 'assets/img/plane.png' %}" alt="plane" class="plane" />
    <img src="{% static 'assets/img/roadr.png' %}" alt="road" class="road" />
  </section>
  <section id="about">
    <h2 class="title">{{ tr.about }}</h2>
    <p class="text">
      {{ tr.index_about_header }}
    </p>
    <ul class="about-list">
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">{{ tr.index_about_list_1 }}</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">{{ tr.index_about_list_2 }}</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">{{ tr.index_about_list_3 }}</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">{{ tr.index_about_list_4 }}</p>
      </li>
      <li>
        <img
          class="plane-point-image"
          src="{% static 'assets/img/plane point.svg' %}"
          alt="plane point"
        />
        <p class="text">{{ tr.index_ages_header }}:</p>
      </li>
    </ul>

    <div class="ages">
      <div class="age">
        <span class="title age-title">Junior</span>
        <p class="text age-text">- {{ tr.index_age_junior }}</p>
      </div>
      <div class="age">
        <span class="title age-title">Student</span>
        <p class="text age-text">- {{ tr.index_age_student }}</p>
      </div>
    </div>
  </section>
  <section id="stages">
    <h2 class="title title-right">{{ tr.stages }}</h2>
    <nav>
      <ul class="steps-list">
        <li>
          <button
            class="step-button step-button-active"
            data-target="#quaterfinal"
          >
            {{ tr.index_round_quarter }}
          </button>
        </li>
        <li>
          <button class="step-button" data-target="#halffinal">
            {{ tr.index_round_semi }}
          </button>
        </li>
        <li>
          <button class="step-button" data-target="#final">{{ tr.index_round_final }}</button>
        </li>
      </ul>
    </nav>
    <div class="card">
      <div class="card-header">
        <p class="main-title card-title">{{ tr.title }}</p>
        <img
          src="{% static 'assets/img/logo.svg' %}"
          alt="BSUIR Open logo"
          class="card-logo"
        />
      </div>
      <div class="card-body">
        <div class="card-description active" id="quaterfinal">
          <p class="stage-title">{{ tr.index_round_quarter }}</p>
          <p class="text card-text">{{ tr.index_quarter_purpose }}:</p>
          <ul class="card-description-list">
            <li class="point">
              <p class="text card-text">
                {{ tr.index_quarter_list_1 }}
              </p>
            </li>
            <li class="point">
              <p class="text card-text">
                {{ tr.index_quarter_list_2 }}
              </p>
            </li>
          </ul>
          <p class="text card-text">
            {{ tr.index_quarter_info }}
          </p>
          <p class="text card-text">
            {{ tr.index_quarter_pass }}
          </p>
        </div>
        <div class="card-description" id="halffinal">
          <p class="stage-title">{{ tr.index_round_semi }}</p>
          <p class="text card-text">
            {{ tr.index_semifinal_info }}
          </p>
          <p class="text card-text">
            {{ tr.index_semifinal_details }}
          </p>
        </div>
        <div class="card-description" id="final">
          <p class="stage-title">{{ tr.index_round_final }}</p>
          <p class="text card-text">
            {{ tr.index_final_info }}
          </p>
          <ul class="card-description-list">
            <li class="point">
              <p class="text card-text">
                {{ tr.index_final_list_1 }}
              </p>
            </li>
            <li class="point">
              <p class="text card-text">
                {{ tr.index_final_list_2 }}
              </p>
            </li>
          </ul>
          <p class="text card-text">
            {{ tr.index_final_additional }}
          </p>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="timetable">
    <span class="timetable-title">
      <img class="plane-title" src="{% static 'assets/img/plane point.svg' %}" />
      <h2 class="title">{{ tr.schedule }}</h2>
    </span>
    <div class="desktop-timetable">
      <table class="table">
        <thead>
          <tr>
            <td class="header-text">{{ tr.date }}</td>
            <td class="header-text">{{ tr.one_stage }}</td>
            <td class="header-text">{{ tr.status }}</td>
          </tr>
        </thead>
        <tbody>
          <tr class="underlined">
            <td class="merge-date">
              <img
                src="{% static 'assets/img/merge-line.svg' %}"
                alt=""
                class="merge-line"
              />
              <div class="date">
                <p class="date-text">{{ tr.reg_start_day }}</p>
                <p class="date-text">{{ tr.reg_end_day }}</p>
              </div>
            </td>
            <td class="stage-text">{{ tr.registration }}</td>
            <td class="status-text">{{tr.reg_state}}</td>
          </tr>
          <tr class="underlined">
            <td class="merge-date">
              <img
                src="{% static 'assets/img/merge-line.svg' %}"
                alt=""
                class="merge-line"
              />
              <div class="date">
                <p class="date-text">{{ tr.qual_start_day }}</p>
                <p class="date-text">{{ tr.qual_end_day }}</p>
              </div>
            </td>
            <td class="stage-text">{{ tr.index_selection_header }}</td>
            <td class="status-text">
              {{tr.qual_state}}
            </td>
          </tr>
          <tr class="underlined">
            <td class="date-text">{{ tr.semi_day }}</td>
            <td class="stage-text">{{ tr.semifinal }}</td>
            <td class="status-text">{{tr.semi_state}}</td>
          </tr>
          <tr class="underlined">
            <td class="date-text">{{ tr.stud_final_day }}</td>
            <td>
              <p class="stage-text">{{ tr.stud_final }}</p>
              <p class="status-text">({{ tr.bsuir_address }})</p>
            </td>
            <td class="status-text">{{tr.stud_fin_state}}</td>
          </tr>
          <tr>
            <td class="date-text">{{ tr.jun_final_day }}</td>
            <td>
              <p class="stage-text">{{ tr.jun_final }}</p>
              <p class="status-text">( {{tr.bsuir_address}} )</p>
            </td>
            <td class="status-text">{{tr.jun_fin_state}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mobile-timetable">
      <p class="title timetable-title">{{ tr.registration }}</p>
      <p class="text">{{tr.reg_start_day}} - {{tr.reg_end_day}}</p>
      <p class="title timetable-title">{{ tr.index_selection_header }}</p>
      <p class="text">{{tr.qual_start_day}} - {{tr.qual_end_day}}</p>
      <p class="title timetable-title">{{tr.semifinal}}</p>
      <p class="text">{{tr.semi_day}}</p>
      <p class="title timetable-title">{{tr.stud_final}}</p>
      <p class="text">{{tr.stud_final_day}}</p>
      <p class="title timetable-title">{{tr.jun_final}}</p>
      <p class="text">{{tr.jun_final_day}}</p>
    </div>
  </section>
  <section id="partners">
    <!-- <h2 class="title">Наши партнеры</h2>
    <div class="partners-icons">
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
      <img src="{% static 'assets/img/Huawei.png' %}" alt="Huawei" class="sponsor-logo" />
    </div> -->
    <img src="{% static 'assets/img/plane-front.svg' %}" alt="plane" class="plane-front" />
    <img src="{% static 'assets/img/cloud1.svg' %}" alt="" class="cloud-1" />
    <img src="{% static 'assets/img/cloud2.svg' %}" alt="" class="cloud-2" />
  </section>
</main>
<script src="{% static 'assets/js/scroll.js' %} "></script>
{% endblock %}
