{% extends 'wrapper.html' %}

{% block title %}
{{ tr.rul_page_titl}}
{% endblock %}

{% block content %}
<main>
    <article class="rules noised large-text d-flex">
        <div class="container">
            <h2 class="title">{{ tr.rul_page_titl_hw_and_sw_rules }}</h2>
            <h3 class="title subtitle" >{{ tr.rul_page_titl_hw_and_sw_title }}</h3>
            <h4 class="title subsubtitle">{{ tr.rul_page_titl_hw_and_sw_testsys_title }}</h4>
            <p class="text"> {{ tr.rul_page_titl_hw_and_sw_testsys_descr }}
            <ul>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_1 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_2 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_3 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_4 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_5 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_6 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_7 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_8 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_9 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_10 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_11 }}</li>
                <li class="text">{{ tr.rul_page_titl_hw_and_sw_testsys_compil_12 }}</li>
            </ul>
            </p>
            <h4 class="title subsubtitle">{{ tr.rul_page_titl_hw_and_sw_work_places_title }}</h4>
            <p class="text">{{ tr.rul_page_titl_hw_and_sw_work_places_descr }}</p>

            <p class="text">{{ tr.rul_page_titl_hw_and_sw_work_places_note }}</p>

            <h3 class="title subtitle">{{ tr.rul_page_titl_conduct_titl }}</h3>
            <p class="text">{{ tr.rul_page_titl_conduct_descr }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_team_rules }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_championship_rules }}</p>

            <h4 class="title subsubtitle">{{ tr.rul_page_titl_conduct_quarter_finals_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_conduct_quarter_finals_descript }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_quarter_finals_disqualific }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_quarter_finals_participation_rules }}</p>

            <h4 class="title subsubtitle">{{ tr.rul_page_titl_conduct_semi_finals_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_conduct_semi_finals_descript }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_semi_finals_participation_rules }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_semi_finals_final_qualification }}</p>
            <ul>
                <li class="text">{{ tr.rul_page_titl_conduct_semi_finals_final_qualification_list_1 }}</li>
                <li class="text">{{ tr.rul_page_titl_conduct_semi_finals_final_qualification_list_2 }}</li>
            </ul>
            <p class="text">{{ tr.rul_page_titl_conduct_semi_finals_school_finals }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_semi_finals_jury_decision }}</p>

            <h4 class="title subsubtitle">{{ tr.rul_page_titl_conduct_finals_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_conduct_finals_descript }}</p>

            <h4 class="title subsubtitle">{{ tr.rul_page_titl_conduct_other_conditions_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_conduct_other_conditions_descript }}</p>

            <p class="text scored"> {{ tr.rul_page_titl_conduct_other_conditions_special_conditions }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_other_conditions_equipment_rules }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_other_conditions_allowed_items }}{{ tr.rul_page_titl_conduct_other_conditions_prohibited_items }}</p>

            <p class="text">{{ tr.rul_page_titl_conduct_other_conditions_printer_usage }}</p>


            <p class="text">{{ tr.rul_page_titl_conduct_other_conditions_communication_rules }}</p>

            <h3 class="title subtitle">{{ tr.rul_page_titl_problem_solving_titl }}</h3>
            <p class="text">{{ tr.rul_page_titl_problem_solving_descript }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_verification }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_input_output }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_time_limit }}</p>


            <p class="text">{{ tr. }}{{ tr.rul_page_titl_problem_solving_time_problems }}</p>
            <ol>
                <li class="text">{{ tr. }}{{ tr.rul_page_titl_problem_solving_prohibited_actions_1 }}</li>
                <li class="text">{{ tr. }}{{ tr.rul_page_titl_problem_solving_prohibited_actions_2 }}</li>
                <li class="text">{{ tr. }}{{ tr.rul_page_titl_problem_solving_prohibited_actions_3 }}</li>
            </ol>
            <p class="text">{{ tr.rul_page_titl_problem_solving_disqualification }}</p>
            <p class="text">{{ tr.rul_page_titl_problem_solving_submission_process }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_compilation_error }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_test_order }}</p>
            <ul>
                <li class="text">{{ tr.rul_page_titl_problem_solving_test_order_list_1 }}</li>
                <li class="text">{{ tr.rul_page_titl_problem_solving_test_order_list_2 }}</li>
            </ul>
            <p class="text">{{ tr.rul_page_titl_problem_solving_presentation_error }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_runtime_error }}{{ tr.rul_page_titl_problem_solving_wrong_answer }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_test_example }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_questions }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_scoring }}</p>

            <p class="text">{{ tr.rul_page_titl_problem_solving_results_table }}</p>
            <div class="table__wrap">
                <table class="table">
                    <thead>
                        <tr class="underlined">
                            <th class="stage-text">Place</th>
                            <th class="stage-text">User</th>
                            <th class="stage-text">A</th>
                            <th class="stage-text">B</th>
                            <th class="stage-text">C</th>
                            <th class="stage-text">D</th>
                            <th class="stage-text">E</th>
                            <th class="stage-text">F</th>
                            <th class="stage-text">Total</th>
                            <th class="stage-text">Penalty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="underlined">
                            <td class="date-text">1</td>
                            <td class="date-text">kegbl</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+5</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">6</td>
                            <td class="date-text">370</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">2</td>
                            <td class="date-text">K5</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+5</td>
                            <td class="date-text">+2</td>
                            <td class="date-text">+</td>
                            <td class="date-text">6</td>
                            <td class="date-text">667</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">3</td>
                            <td class="date-text">abra</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+3</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+3</td>
                            <td class="date-text">+</td>
                            <td class="date-text">6</td>
                            <td class="date-text">876</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">4</td>
                            <td class="date-text">K4</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+3</td>
                            <td class="date-text">+3</td>
                            <td class="date-text"></td>
                            <td class="date-text">+2</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">5</td>
                            <td class="date-text">788</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">5</td>
                            <td class="date-text">LGS</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+1</td>
                            <td class="date-text"></td>
                            <td class="date-text">+2</td>
                            <td class="date-text">+3</td>
                            <td class="date-text">5</td>
                            <td class="date-text">6184</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">6</td>
                            <td class="date-text">4lulz</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+4</td>
                            <td class="date-text">+3</td>
                            <td class="date-text">+1</td>
                            <td class="date-text"></td>
                            <td class="date-text">5</td>
                            <td class="date-text">9769</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">7</td>
                            <td class="date-text">AI</td>
                            <td class="date-text">+2</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+4</td>
                            <td class="date-text"></td>
                            <td class="date-text">+1</td>
                            <td class="date-text">+1</td>
                            <td class="date-text">5</td>
                            <td class="date-text">15438</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">8</td>
                            <td class="date-text">abcd</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+2</td>
                            <td class="date-text"></td>
                            <td class="date-text">+2</td>
                            <td class="date-text"></td>
                            <td class="date-text">4</td>
                            <td class="date-text">305</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">9</td>
                            <td class="date-text">Doll_backs</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+1</td>
                            <td class="date-text"></td>
                            <td class="date-text">+2</td>
                            <td class="date-text"></td>
                            <td class="date-text">4</td>
                            <td class="date-text">418</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">10</td>
                            <td class="date-text">ШИК</td>
                            <td class="date-text">+</td>
                            <td class="date-text">+2</td>
                            <td class="date-text">-8</td>
                            <td class="date-text"></td>
                            <td class="date-text">+2</td>
                            <td class="date-text">+</td>
                            <td class="date-text">4</td>
                            <td class="date-text">504</td>
                        </tr>
                        <tr class="underlined">
                            <td rowspan="3"></td>
                            <td class="date-text">Total</td>
                            <td class="date-text">13</td>
                            <td class="date-text">18</td>
                            <td class="date-text">35</td>
                            <td class="date-text">18</td>
                            <td class="date-text">27</td>
                            <td class="date-text">12</td>
                            <td class="date-text">123</td>
                            <td rowspan="3"></td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">Success</td>
                            <td class="date-text">10</td>
                            <td class="date-text">10</td>
                            <td class="date-text">9</td>
                            <td class="date-text">4</td>
                            <td class="date-text">10</td>
                            <td class="date-text">7</td>
                            <td class="date-text">50</td>
                        </tr>
                        <tr class="underlined">
                            <td class="date-text">%</td>
                            <td class="date-text">77%</td>
                            <td class="date-text">55%</td>
                            <td class="date-text">26%</td>
                            <td class="date-text">22%</td>
                            <td class="date-text">37%</td>
                            <td class="date-text">58%</td>
                            <td class="date-text">41%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p class="text">{{ tr.rul_page_titl_problem_solving_results_table_explanation }}</p>

            <h3 class="title subtitle">{{ tr.rul_page_titl_programming_features_titl }}</h3>
            <h4 class="title subsubtitle">{{ tr.rul_page_titl_programming_features_cpp_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_description }}</p>

            <code class="code">int main() {
            ...
            return 0;
        }
        </code>

            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not }}</p>

            <code class="code">void main() {
            ...
        }</code>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_additional_rules_1 }}</p>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_1 }}</p>
            <code class="code">#include &lt;iostream.h&gt;</code>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_2 }}</p>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_3 }}</p>
            <code class="code">#include &lt;iostream&gt;
                using namespace std;</code>
            <p class="text"><code class="code">itoa, atoi</code> {{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_4 }} <code
                    class="code">sscanf, sprintf</code></p>

            <h4 class="title subsubtitle">{{ tr.rul_page_titl_programming_features_java_titl }}</h4>
            <p class="text">{{ tr.rul_page_titl_programming_features_java_description }}</p>
            <p class="text">{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_5 }}</p>
            <code class="code">import java.io.*;
                public class Main
                {
                    public static void main(String args[])
                    {
                        //{{ tr.rul_page_titl_programming_features_cpp_incorrect_example_not_6 }}
                    }

                }
                </code>

            <h3 class="title subtitle">{{ tr.rul_page_titl_results_titl }}</h3>
            <p class="text">{{ tr.rul_page_titl_results_description }}.</p>

            <p class="text">{{ tr.rul_page_titl_results_disqualification }}</p>

            <p class="text">{{ tr.rul_page_titl_results_appeals }}</p>


            <p class="text">{{ tr.rul_page_titl_results_jury_authority }}</p>
        </div>
    </article>
</main>

{% endblock %}