{% extends 'wrapper.html' %}

{% block title %}
Правила
{% endblock %}

{% block content %}
<main>
    <article class="rules noised large-text d-flex">
        <div class="container">
            <h2>Правила XII Открытого чемпионата БГУИР</h2>
            <h3>1. АППАРАТНОЕ И ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ</h3>
            <h4>1.1. Тестирующая система</h4>
            <p>Intel(R) Xeon(R) CPU E5-2630 @ 2.20GHz, 15MB cache, virtualizаtion on 8 core, 8GB RAM, OS Linux.
                Доступные
                компиляторы:
            <ul>
                <li>GNU c 11 7.3</li>
                <li>GNU c 4.9</li>
                <li>GNU c11 4.9</li>
                <li>GNU c++17 7.3</li>
                <li>GNU C++20 10.2</li>
                <li>GCC C++17</li>
                <li>g++17 7.3 controlled</li>
                <li>Python 3.7 (PyPy 7.3.3)</li>
                <li>Oracle Java 8</li>
                <li>Mono C# 5.2.0</li>
                <li>Kotlin 1.5.32 (JRE 11)</li>
                <li>Golang 1.16</li>
            </ul>
            </p>
            <h4>1.2. Рабочие места</h4>
            <p>Во время очных туров соревнований предоставляется подсоединенный к интернет сети IBM PC-совместимый
                компьютер в
                следующей конфигурации: процессор Pentium или совместимый, ОЗУ не менее 2 Gb, операционная система
                Microsoft Windows и
                сопутствующее программное обеспечение.</p>

            <p>Участники должны заранее сообщить, какие среды разработки им потребуются. В противном случае
                гарантируется лишь
                доступность хотя бы одной из перечисленных.</p>

            <h3>2. ПОРЯДОК ПРОВЕДЕНИЯ</h3>
            <p>Участниками соревнований являются учащиеся средних общеобразовательных учреждений Республики Беларусь, учащиеся учреждений
                среднего
                специального образования, студенты (I и II ступень), аспиранты учреждений высшего образования
                Республики Беларусь и
                других стран.</p>

            <p>Команда может состоять не более чем из 3 участников. Участнику соревнований запрещается входить в состав
                более чем одной
                команды. Команда, в состав которой входит хотя бы один студент, магистрант или аспирант вуза или ссуза,
                считается
                студенческой командой. Команда, в состав которой входят участники не из одного учебного заведения, кроме
                учебных
                заведений основного и среднего общего образования, считается смешанной и в очном финале официальное
                участие не
                принимают. Не полная команда, состоящая менее чем из 2 участников в очном финале официальное участие не
                принимают.</p>

            <p>Чемпионат по программированию проводится по правилам ICPC и состоит из трех туров. Во время всех туров
                чемпионата
                запрещается обсуждать идеи и обмениваться решениями задач вне команды.</p>

            <h4>2.1. Первый отборочный тур (четвертьфинал)</h4>
            <p>Первый отборочный тур проводится в заочной форме. Командам-участницам предлагается решить от 12 до 15
                задач (текст задач
                на русском языке) за 133 часов (5 дней 13 часов). Жюри имеет право продлить соревнования в случае каких-либо
                непредвиденных
                обстоятельств. Для прохождения на следующий этап участникам необходимо решить не менее половины задач.
            </p>

            <p>Команды, чьи решения имеют НЕСОМНЕННЫЕ ПРИЗНАКИ «СПИСЫВАНИЯ» ИСХОДНОГО ТЕКСТА программы, при подведении
                итогов тура
                будут дисквалифицированы. В случае особенно явных нарушений участники, отославшие такие решения, также
                могут быть
                дисквалифицированы для участия в чемпионате на следующий год.</p>

            <p>Первый отборочный тур является обязательным для команд БГУИР и школьных команд. Команды других вузов и
                ссузов Республики
                Беларусь и стран зарубежья приглашаются для участия сразу во втором отборочном туре соревнования
                (полуфинале), однако
                также могут принимать участие в четвертьфинале.</p>

            <h4>2.2. Второй отборочный тур (полуфинал)</h4>
            <p>Второй отборочный тур (полуфинал) проводится в очно-заочной форме. Командам-участницам предлагается
                решить от 4 до 12
                задач (текст задач на русском и английском языках) за 4-5 астрономических часов. Жюри имеет право
                продлить соревнования
                в случае каких-либо непредвиденных обстоятельств.</p>

            <p>Команды БГУИР участвуют в туре очно на базе университета. Команды не из БГУИР решают тур заочно в своих
                учреждениях
                образования. За соблюдение правил соревнований в данном случае отвечает тренер команды. Участники других
                учреждений
                образования, изъявившие желание участвовать в полуфинале на базе БГУИР, должны заранее сообщить
                организаторам об этом.</p>

            <p>В следующий этап (финал) проходят 30 команд, показавшие лучшие результаты на данном этапе, но не более:
            <ul>
                <li>7 команд студентов, магистрантов и аспирантов БГУИР;</li>
                <li>2 команд от каждого вуза или ссуза Республики Беларусь и стран зарубежья;</li>
            </ul>
            Для команд из средних общеобразовательных учреждений проводится отдельный финал, в который приглашается не
            менее 15 и не
            более 25 команд и не более одной команды от каждого учреждения образования. Решение об участии в школьном
            финале команд,
            участники которых являются представителями разных учреждений образования, принимается организационным
            комитетом в
            индивидуальном порядке.</p>

            <p>По решению оргкомитета и жюри количество команд, которое проходит в следующий этап, их состав, а также
                квота могут быть
                изменены.</p>

            <h4>2.3. Финал чемпионата</h4>
            <p>Финал соревнований проводится в очной форме. Участникам предлагается решить от 6 до 12 алгоритмических
                задач (тексты
                задач на английском языке) за 5 астрономических часов.</p>

            <h4>2.4. Прочие условия</h4>
            <p>Второй отборочный тур (полуфинал) является обязательным для всех зарегистрированных команд, желающих
                принять участие в
                чемпионате.</p>

            <p class="underscored">Команды высших учебных заведений, в состав которых входит не менее двух финалистов
                студенческого командного чемпионата
                мира по программированию ICPC сезона 2023-2024, а также команды средних общеобразовательных учреждений
                (школ, гимназий,
                лицеев), в состав которых входит не менее двух призеров заключительного этапа республиканской олимпиады
                по информатике
                2024 года (диплом 1, 2 и 3 степени), допускаются к участию в финале соревнований без прохождения
                отборочных этапов и
                сверх установленной квоты для учебного заведения.</p>

            <p>Во время второго отборочного тура (полуфинала) и финала соревнований каждой команде предоставляется один
                компьютер.
            </p>

            <p>Участники могут приносить с собой и использовать словари (англо-русский и т.п.), чистые листы бумаги и
                инструменты для
                письма. Запрещается использовать любые (кроме предоставленных жюри) книги, распечатки, электронные
                средства хранения и
                передачи информации: личные компьютеры, флешки, дискеты, калькуляторы, мобильные телефоны и др.</p>

            <p>Во время очных туров команды могут использовать сетевой принтер для печати своих решений. Доставку
                распечаток
                осуществляют представители организаторов.</p>


            <p>В течение очных туров участники могут общаться только с членами своей команды, представителями жюри и
                оргкомитета
                соревнований.</p>

            <h3>3. РЕШЕНИЕ ЗАДАЧ</h3>
            <p>Во время тура участники решают предложенные задачи. Решением является программа (исходный текст).
                Программа не должна
                включать в себя другие файлы или модули кроме стандартных.</p>

            <p>Проверка представленных решений проводится во время соревнований. Участники посылают решения в
                тестирующую систему с
                помощью предоставленного программного обеспечения. Решение проверяется путем запуска на наборе тестов,
                который
                недоступен участникам и является одинаковым для всех участников. Решение засчитывается в том случае,
                если оно выдает
                верные ответы на все тесты. В противном случае, участники могут делать повторные попытки (их количество
                не ограничено).</p>

            <p>Ввод и вывод осуществляется через стандартные потоки (stdin, stdout), если не сказано иное. Тестирование
                производится
                автоматически, поэтому программы должны в точности соблюдать форматы ввода-вывода, описанные в условии
                каждой задачи.
                Если не оговорено отдельно, все входные данные предполагаются корректными и удовлетворяющими всем
                ограничениям,
                указанным в условии.</p>

            <p>Для каждой из задач указывается максимальное время выполнения одного теста. Если на одном из тестов
                программа превысила
                это время, решение считается неверным.</p>


            <p>В решениях задач запрещено использовать:</p>
            <ol>
                <li>Работу с подкаталогами и файлами.</li>
                <li>Любые сетевые средства.</li>
                <li>Любые другие средства или действия, которые могут нарушить работу программного обеспечения олимпиады
                    (в том числе
                    использование вставок ассемблерного кода).</li>
            </ol>
            <p>Проверяющие программы используют различные методы контроля за соблюдением данных требований. Нарушители
                будут
                дисквалифицированы.</p>

            <p>По мере готовности участники посылают свои решения в тестирующую систему для проверки. После этого они
                могут продолжать
                работу над другими задачами. После того как тестирующая система проверит решение, они получают сообщение
                о результатах
                тестирования. Это сообщение появится на экране (в окне программы-клиента проверяющей системы). Участнику
                сообщается,
                зачтено ли решение или нет. Если решение не зачтено, сообщается тип ошибки и номер теста, на котором эта
                ошибка
                произошла.</p>


            <p>В случае сообщения “Compilation error” можно будет просмотреть протокол компиляции. Номер теста при таком
                сообщении
                указываться не будет.</p>


            <p>Все тесты выполняются в одном и том же порядке. Номер ошибочного теста, указываемый в результатах
                проверки, есть номер
                первого теста, на котором задача не прошла проверку. Например, если система сообщила: «Time-limit
                exceeded: Test 9»
                («Превышен предел времени на тесте № 9»), это означает, что:</p>
            <ul>
                <li>тесты с 1 по 8 прошли проверку;</li>
                <li>на более сложном, чем предыдущие восемь, девятом тесте программа превысила предел времени.</li>
            </ul>
            <p>Если получено сообщение «Presentation error» («Ошибка вывода»), то это означает, что формат результата
                (вывода)
                программы отличается от требуемого.</p>

            <p>Сообщение «Run-time error» означает ошибку времени выполнения (аварийное завершение программы).
                Сообщение «Wrong answer» означает неправильный ответ.</p>

            <p>C целью упрощения поиска ошибок ввода/вывода гарантируется, что тест №1 совпадает с примером, указанным в
                условии и
                известным участникам.</p>


            <p>Во время соревнований участники могут задавать вопросы по условиям задач. Вопрос должен быть составлен в
                форме,
                предполагающей ответы «ДА» («Yes») или «НЕТ» («No»). Если вопрос поставлен некорректно или ответ прямо
                следует из
                условия задачи, жюри отвечает «Без комментариев» («No comments»). Если жюри согласно, что в условии
                присутствует
                неясность или ошибка, то всем участникам делается соответствующее объявление.</p>


            <p>Выигрывает команда, правильно решившая наибольшее число задач. В случае равенства числа решенных задач,
                выигрывает
                команда, у которой меньше штрафных очков. Штрафные очки начисляются отдельно за каждую успешно решенную
                задачу и
                суммируются. Для каждой задачи число штрафных очков равно времени от начала соревнований до ее успешного
                решения (в
                минутах) с добавлением по 20 минут за каждую неудачную попытку. Каждая попытка сдать задачу ПОСЛЕ того,
                как решение для
                данной задачи уже было зачтено, может быть воспринята как «неудачная попытка» и привести к
                дополнительному штрафному
                времени.</p>

            <p>Во время соревнований участники могут просматривать текущие результаты всех команд на своих компьютерах.
                В очных турах
                таблица результатов «замораживается» за час до окончания соревнования: у команд есть возможность видеть
                вердикты по
                своим посылкам и наличие посылок по задачам других команд без указания, была эта попытка успешной или
                нет. Пример
                таблицы результатов:</p>
            <div class="table__wrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Place</th>
                            <th>User</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                            <th>E</th>
                            <th>F</th>
                            <th>Total</th>
                            <th>Penalty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>kegbl</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+1</td>
                            <td>+5</td>
                            <td>+</td>
                            <td>+</td>
                            <td>6</td>
                            <td>370</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>K5</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+1</td>
                            <td>+5</td>
                            <td>+2</td>
                            <td>+</td>
                            <td>6</td>
                            <td>667</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>abra</td>
                            <td>+</td>
                            <td>+3</td>
                            <td>+1</td>
                            <td>+1</td>
                            <td>+3</td>
                            <td>+</td>
                            <td>6</td>
                            <td>876</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>K4</td>
                            <td>+</td>
                            <td>+3</td>
                            <td>+3</td>
                            <td></td>
                            <td>+2</td>
                            <td>+1</td>
                            <td>5</td>
                            <td>788</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>LGS</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+1</td>
                            <td></td>
                            <td>+2</td>
                            <td>+3</td>
                            <td>5</td>
                            <td>6184</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>4lulz</td>
                            <td>+1</td>
                            <td>+</td>
                            <td>+4</td>
                            <td>+3</td>
                            <td>+1</td>
                            <td></td>
                            <td>5</td>
                            <td>9769</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>AI</td>
                            <td>+2</td>
                            <td>+</td>
                            <td>+4</td>
                            <td></td>
                            <td>+1</td>
                            <td>+1</td>
                            <td>5</td>
                            <td>15438</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>abcd</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+2</td>
                            <td></td>
                            <td>+2</td>
                            <td></td>
                            <td>4</td>
                            <td>305</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Doll_backs</td>
                            <td>+</td>
                            <td>+</td>
                            <td>+1</td>
                            <td></td>
                            <td>+2</td>
                            <td></td>
                            <td>4</td>
                            <td>418</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>ШИК</td>
                            <td>+</td>
                            <td>+2</td>
                            <td>-8</td>
                            <td></td>
                            <td>+2</td>
                            <td>+</td>
                            <td>4</td>
                            <td>504</td>
                        </tr>
                        <tr>
                            <td rowspan="3"></td>
                            <td>Total</td>
                            <td>13</td>
                            <td>18</td>
                            <td>35</td>
                            <td>18</td>
                            <td>27</td>
                            <td>12</td>
                            <td>123</td>
                            <td rowspan="3"></td>
                        </tr>
                        <tr>
                            <td>Success</td>
                            <td>10</td>
                            <td>10</td>
                            <td>9</td>
                            <td>4</td>
                            <td>10</td>
                            <td>7</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>%</td>
                            <td>77%</td>
                            <td>55%</td>
                            <td>26%</td>
                            <td>22%</td>
                            <td>37%</td>
                            <td>58%</td>
                            <td>41%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p>Здесь «User» – название команды, A,B,C,D,E,F – задачи, «Total» - число решенных задач, «Penalty» – число
                штрафных очков.
                Знак «+» означает, что задача принята, «+n» означает, что задача была принята после n неудачных попыток,
                «-n» - что
                задача не принята и было сделано n неудачных попыток.</p>

            <h3>4. ОСОБЕННОСТИ НАПИСАНИЯ ПРОГРАММ</h3>
            <h4>4.1. На С/С++</h4>
            <p>Если решение задачи написано на языке С/С++, то для корректной работы тестирующей системы оно должно
                завершать работу с
                кодом возврата 0, т.е., например,</p>

            <code class="code">int main() {
            ...
            return 0;
        }
        </code>

            <p>но не</p>

            <code class="code">void main() {
            ...
        }</code>


            <p>Также вместо __int64 нужно писать long long (VC++ тоже понимает long long).
                Для использования hash_xxx следует подключить namespace __gnu_cxx (вместо stdext в VC++).</p>


            <p>Вместо</p>
            <code class="code">#include &lt;iostream.h&gt;</code>
            <p>надо писать:</p>
            <p>Код:</p>
            <code class="code">#include &lt;iostream&gt;
                using namespace std;</code>
            <p><code class="code">itoa, atoi</code> могут не компилироваться - тогда используйте <code
                    class="code">sscanf, sprintf</code></p>


            <h4>4.2. На Java</h4>
            <p>Решение нужно оформить в виде публичного класса Main в пакете по умолчанию.
                В файле может быть произвольное количество непубличных и вложенных классов.
                Точка входа в программу - стандартный метод main(String[]).</p>
            <p>Пример:</p>
            <code class="code">import java.io.*;
                public class Main
                {
                    public static void main(String args[])
                    {
                        //решение
                    }

                }
                </code>

            <h3>5. ПОДВЕДЕНИЕ ИТОГОВ СОРЕВНОВАНИЯ</h3>
            <p>Результаты соревнований подводятся жюри.</p>


            <p>За нарушение правил чемпионата или нарушение хода соревнований другим способом (например, неподобающее
                поведение,
                подключение или отключение дополнительного оборудования и проводов без согласия представителей
                оргкомитета) команда
                может быть дисквалифицирована. Участники команд, дисквалифицированных за нарушение правил, по решению
                жюри могут быть не
                допущены к соревнованиям следующего года.</p>


            <p>В течение заранее объявленного времени (обычно в течение одного часа) после соревнований команда может
                направить в жюри
                письменную апелляцию в случае неправильного определения победителей, потери присланного решения и т.п.
                Жюри разбирает
                апелляцию, принимает решение и сообщает его команде.</p>


            <p>Жюри обладает исключительным правом определения правильности присланных решений, определения победителей
                и
                дисквалификации команд. Жюри разбирает вопросы, возникшие в результате непредвиденных событий и
                обстоятельств. Решения
                жюри окончательны и обжалованию не подлежат.</p>
        </div>
    </article>
</main>

{% endblock %}