{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
{{ tr.create_team }}
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" id="create-team">
        {% csrf_token %}
        <input type="number" name="command_type" style="display: none;" value="0">
        <input type="number" name="univer_type" style="display: none;" value="0">
    </form>
    <p class="title headline">
        {{ tr.creating_team }}
    </p>
    <div class="options">
        <div class="option univer-type">
            <button class="item brleft active-form-button" id="school" data-key="0">
                <h4 class="item-text">
                    {{ tr.schoolar_team }}
                </h4>
            </button>
            <button class="item brright" id="university" data-key="1">
                <h4 class="item-text">
                    {{ tr.students_team }}
                </h4>
            </button>
        </div>
        <div class="option command-type">
            <button class="item brleft active-form-button" id="whole" data-key="0">
                <h4 class="item-text">
                    {{ tr.university_type_same_institution }}
                </h4>
            </button>
            <button class="item brright" id="mixed" data-key="1">
                <h4 class="item-text">
                    {{ tr.university_type_mixed }}
                </h4>
            </button>
        </div>
    </div>
    <div class="name_input_container" id="command_name">
        <input type="text" aria-label="Имя" class="input" name="name" form="create-team" placeholder="Имя"/>
    </div>
    <div class="restriction">
        <h6>{{ tr.required_fields }}<br>
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
                {{error}}</br>
            {% endfor %}
            {% endfor %}
        </h6>
    </div>
    <div class="center button_add" id="command_apply">
        <button class="button signUp-button" type="submit" form="create-team">{{ tr.create }}</button>
    </div>
</div>
<script src="{% static 'assets/js/create-command.js' %}"></script>
{% endblock %}
