{% extends 'wrapper.html' %}
{% load static %}


{% block title %}
{{ tr.rul_page_team_create_page_team_verify_page_titl }}
{% endblock %}

{% block content %}
<div class="container_pa colflex center_pa">
    <h2 class="text" style="text-align: center;">{{ tr.approvement_warning }}</h2>
    <form method="POST">
        {% csrf_token %}
        <button class="button signUp-button">
        {{ tr.confirm_button }}
        </button>
    </form>
</div>

<script src="{% static 'assets/js/forms.js' %}"></script>
{% endblock %}
