{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
    {{tr.authorization}}
{% endblock %}

{% block content %}
<main class="signUp">
  <hi class="title auth-title">{{tr.authorization}}</hi>
  <form class="reg-form" method="post" id="login-form">
    {% csrf_token %}
    <input
      type="text"
      aria-label="Имя"
      class="input"
      placeholder="{{tr.username}}"
      name="username"
    />
    <input
      type="password"
      name="password"
      aria-label="Пароль"
      class="input"
      placeholder="{{tr.password}}"
    />
  </form>
  <p class="wrong-inf">
    {% for field, errors in form.errors.items %} {% for error in errors %}
    {{error}}
    <br />
    <br />
    {% endfor %} {% endfor %}
  </p>
  <span class="no-account">
    {{tr.no_account}}?
    <a href="{% url 'signup' %}" class="signUp-link">{{tr.signup}}!</a>
  </span>
  <button form="login-form" class="button signUp-button" type="submit">
    {{tr.login_action}}
  </button>
</main>
{% endblock %}
