{% extends 'wrapper.html' %}
{% load static %}

{% block title %}
{{tr.registration}}
{% endblock %}

{% block content %}

<main class="signUp">
  <form class="reg-form" method="post" id="signup-form">
  <hi class="title auth-title">{{tr.registration}}</hi>
    {% csrf_token %}
    <input type="text" aria-label="Имя" class="input" placeholder="{{tr.username}}" name="username" required/>
    <input
      type="password"
      aria-label="Пароль"
      class="input"
      name="password1"
      placeholder="{{tr.password}}"
      required
    />
    <input
      type="password"
      aria-label="Повторите пароль"
      class="input"
      name="password2"
      placeholder="{{tr.repeat_password}}"
      required
    />
    {{form.captcha}}
  <p class="wrong-inf">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        {{error}}
        <br />
        <br />
      {% endfor %}
    {% endfor %}
  </p>
  {% if agreement %}
  <label class="confirm confirm-text">
    <input name="personal_data_agreement" required type="checkbox" class="checkbox" />
    <span class="checkmark"></span>
    <p>{{tr.policy_agree}} <a class="policy" target="_blank" href="{{ agreement_url }}">{{tr.policy}}</a></p>
  </label>
  {% endif %}
  <button form="signup-form" type="submit" class="button signUp-button">{{tr.signup}}</button>
</form>
</main>
{% endblock content %}
