.body {
    position: inherit;
    height: 100vh;
}

.signUp {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.auth-title {
    color: var(--white);
    font-size: 4vw;
    text-align: center;
    margin-top: 10vmax;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 2vmin;
}

.input {
    width: 30vw;
    padding: 15px 25px 15px 15px;
    color: var(--grey);
    border-radius: var(--border-radius);
    border: none;
    font-family: var(--bold);
    font-size: 1.8vmin;
    height: 4.5vh;
}

.input::placeholder {
    color: var(--placeholder-color);
    font-family: var(--bold);
    /* text-align: center; */
}

.input:focus {
    border: none;
    outline: none;
}

.wrong-inf {
    text-align: center;
    color: var(--error);
    margin-top: -3vh;
    font-size: 1.3vmin;
}

.confirm {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.3vmin;
    margin-top: -3vh;
    width: max-content;
}

.confirm input {
    opacity: 0;
    position: absolute;
}

.confirm .checkmark {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.confirm input:checked + .checkmark::before {
    content: url("./../img/check.svg");
    display: block;
    position: absolute;
    scale: 0.6;
    margin: -1px -2.8px;
}

.confirm input:checked ~ .checkmark::after {
    display: block;
}

.confirm:hover {
    cursor: pointer;
}

.signUp-button {
    background-color: var(--white);
}

.signUp-button:hover {
    background-color: var(--button-color);
    color: var(--avia-blue);
}

.no-account {
    color: var(--white);
    margin: -15px 0;
}

.signUp-link {
    font-family: var(--bold);
    border-bottom: 1px solid var(--white);
}

.g-recaptcha {
    margin: 35px;
}

@media (width <= 875px) {
    .body {
        overflow: hidden;
    }

    .auth-title {
        font-size: 4vh;
    }

    .input {
        width: 100%;
        font-size: 2vmax;
        height: 5vh;
    }

    .reg-form {
        gap: 1.5vh;
    }

    .wrong-inf {
        font-size: 1.5vmax;
    }

    .confirm {
        font-size: 1.3vmax;
    }

    .confirm .checkmark {
        border-radius: 3.5px;
    }

    .confirm input:checked + .checkmark::before {
        border-radius: 2px;
    }

    .signUp-button {
        font-size: 1.7vmax;
    }
}