.center_pa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 100%;
    height: 100%;
}

.container_pa {
    padding: 160px 100px 100px 100px;
    width: 80%;
    align-self: center;
}

body {
    font-family: 'Frutiger Neue LT Regular', sans-serif;
    background-color: var(--background-color);
    position: relative;
    height: 100vh;
}

.footer_b {
    position: absolute;
    bottom: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.team-name {
    padding: 2vh;
    margin: 0;
    font-size: 3vmax;
    font-family: var(--bold);
    text-transform: uppercase;
}

.white-box {
    background-color: var(--white);
    border-radius: var(--border-radius);
    color: var(--avia-blue);
    width: 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
}

.rowflex_table {
    display: flex;
    flex-direction: row;
}

.colflex {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.wmax {
    width: 100%;
}

.info-block {
    padding: 2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gap22 {
    gap: 22px;
}

.info-title {
    font-size: 3vmin;
    margin: 0;
    font-family: var(--bold);
}

.info {
    font-size: 2vmin;
    margin: 10px 0;
}

.table_com {
    font-size: 2vmin;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 2vh;
}

.line {
    height: 3px;
    background-color: var(--avia-blue);
    margin: 0;
}

.table-text {
    margin: 0;
    padding: 15px 0 15px 27px;
}

.spacebetween {
    justify-content: space-between;
}

.w30 {
    width: 30%;
    margin: auto 0;
}

.w70 {
    width: 70%;
}

.edit_block {
    display: flex;
    align-items: end;
}

.btn-edit {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.edit_text {
    display: none;
}

.btn-edit img {
    align-items: center;
    padding: 3px;
}

.button_add {
    padding: 22px 0;
}

.button_add button {
    font-size: 18px;
    background-color: var(--white);
}

.button_pacont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 0;
}

.button_pacont button {
    font-size: 22px;
}

.titleOfThePage {
    color: var(--white);
    font-size: 72px;
}

@media screen and (max-width: 875px) {
    .container_pa {
        padding: 150px 20px 20px 20px;
    }

    .team-name {
        font-size: 42px;
        padding: 10px 0 10px 25px;
    }

    .table_com {
        font-size: 18px;
        padding: 25px 15px 25px 15px;
    }

    .info-title {
        font-size: 24px;
    }

    .table-text {
        word-break: break-word;
    }

    .info {
        font-size: 18px;
        margin: 12px 0 0 0;
    }

    .info-block {
        padding: 20px;
    }

    .btn-edit {
        height: 30px;
        width: 30px;
    }

    .btn-edit img {
        padding: 0;
    }

    .rowflex {
        flex-direction: column;
    }

    .rowflex_table {
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .titleOfThePage {
        font-size: 32px;
    }

    .container_pa {
        padding: 100px 10px 10px 10px;
    }

    .team-name {
        font-size: 28px;
        padding: 8px 0 8px 16px;
    }

    .table_com {
        font-size: 12px;
        padding: 15px 10px 15px 10px;
    }

    .table-text {
        padding: 5px;
    }

    .info-title {
        font-size: 13px;
    }

    .info {
        font-size: 10px;
        margin: 6px 0 0 0;
    }

    .info-block {
        padding: 10px;
    }

    .btn-edit {
        height: 20px;
        width: 20px;
    }

    .button_add {
        padding: 8px 0;
        width: 100%;
    }

    .button_add button {
        width: 100%;
        font-size: 11px;
        border-radius: 10px;
        padding: 8px;
    }

    .gap22 {
        gap: 11px;
    }

    .colflex {
        gap: 11px;
    }

    .center_pa {
        padding: 100px 10px;
    }

    body {
        position: inherit;
    }

    .line {
        height: 2px;
    }

    .rowflex {
        flex-direction: column;
    }

    .edit_block {
        margin-top: 8px;
        width: 100%;
    }

    .edit_block button {
        width: 100%;
    }

    .edit_block img {
        display: none;
    }

    .edit_text {
        display: block;
        font-size: 10px;
    }

}