@keyframes run {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

body {
    font-family: var(--regular), sans-serif;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.underline, .underscored {
    text-decoration: underline !important;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--white);
    width: 100%;
    border-radius: 0 0 24px 24px;
}

section {
    scroll-margin-top: 160px;
}

#desktop-header {
    display: flex;
    flex-direction: column;
}

.running-line {
    color: var(--avia-blue);
    font-size: 2.5vmin;
    font-family: var(--cn-bold-it), sans-serif;
    height: 100%;

    align-items: center;
    display: flex;
    position: relative;
    animation: marquee 20s linear infinite;
    will-change: transform;
}

.running-line > p{
    min-width: max-content;
}

@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}


.slider_item {
    display: inline-block;
    padding-left: 100%;
    animation: run 20s linear infinite;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin: 1vh 0;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    /* max-width: 700px; */
    gap: 2vmax;
    align-items: center;
}

.extra-buttons {
    display: flex;
    flex-direction: row;
    gap: 2vmax;
    align-items: center;
}

.language-switcher {
    position: relative;
    display: inline-block;
}

#translate-button {
    position: relative;
    scale: 0.7;
    background-color: transparent;
}

#language-list {
    position:absolute;
    background-color: var(--white);
    /* width: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 2px solid var(--avia-blue);
    border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
    right: 14px;
    top: 40px;
    padding: 10px 3px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#language-list li {
    padding: 10px;
    color: var(--avia-blue);
    font-size: 1vw;
    font-weight: bold;
}

#language-list li a {
    text-decoration: none;
    display: block;
}

#language-list li a:hover {
    text-decoration: underline solid 1.5px var(--avia-blue);
}

#language-list.visible {
    opacity: 1;
    visibility: visible;
}

.button {
    background-color: var(--button-color);
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--avia-blue);
    font-family: var(--bold), sans-serif;
    font-size: 2vmin;
    padding: 0.8vh 1.5vw;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: var(--avia-blue);
    color: var(--white);
    cursor: pointer;
}

nav button.active {
    background-color: var(--avia-blue);
    color: var(--white);
}

.table-text .button {
   width: 100%;
   align-self: center;
}

.translate-icon {
    scale:0.8;
}

#main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.bsuir-open-logo {
    width: 50vh;
    margin-top: -150px;
}

.main-title {
    font-family: var(--cn-blk);
    color: var(--white);
    font-size: 6vh;
    margin-top: -3vw;
}

.tower {
    position: absolute;
    height: 65%;
    bottom: 70px;
    left: 0;
}

.plane {
    position: absolute;
    height: 65%;
    right: 0;
    bottom: 100px;
}

.road {
    position: absolute;
    bottom: 0;
    width: 100%;
}

section {
    padding: 0 100px;
}

.title {
    color: var(--white);
    font-family: var(--bold);
    font-size: 7vmin;
}

.subtitle {
    font-size: 4vmin;
}

.subsubtitle {
    font-size: 3vmin;
}

.text {
    color: var(--white);
    font-size: 1.5vmax;
}

#about {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.about-list > li {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.plane-point-image {
    position: relative;
    scale: 0.5;
    bottom: 20px;
}

.about-list {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.age {
    display: flex;
    gap: 10px;
}

.age-text {
    position: relative;
    align-self: center;
}

.ages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -40px;
}

.about-description {
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

#about::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--white);
    margin: 80px 0 0 0;
}

.step-button {
    background-color: transparent;
    border: none;
    color: var(--white);
    font-family: 'Frutiger Neue LT Bold', sans-serif;
    font-size: 3vh;
    opacity: 0.7;
    transform: scale(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.step-button-active {
    opacity: 1;
    transform: scale(1.2);
}

.step-button:hover {
    cursor: pointer;
}

.steps-list {
    display: flex;
    gap: 25px;
    justify-content: end;
    margin-bottom: 50px;
}

.title-right {
    text-align: end;
}

#stages {
    display: flex;
    flex-direction: column;
}

.card {
    border: 7px solid var(--white);
    border-radius: 0 52px 52px 0;
    background-color: var(--white);
    box-shadow: 0px 4px 50px 0px #00000040;
    max-width: 1200px;
    align-self: center;
    min-height: 750px;
}

.policy{
    text-decoration: underline;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--avia-blue);
    border-radius: 0 45px 0 0;
    padding: 0 20px;
}

.card-text {
    color: var(--avia-blue);
    font-size: 1.5vmax;
    word-wrap: break-word;
}

.card-logo {
    width: 20vmin;
}

.card-title {
    margin: 0;
    margin-left: 30px;
    font-size: 3.5vmax;
}

.stage-title {
    color: var(--avia-blue);
    font-family: var(--bold), sans-serif;
    font-size: 3vh;
    margin-bottom: 1.5vh;
}

.card-body {
    padding: 2vw;
}

.card-description {
    display: none;
    flex-direction: column;
    gap: 1.5vh;
}

.active {
    display: flex;
}

.card-description-list {
    list-style: disc;
    margin-left: 25px;
}

.point::marker {
    font-size: 3vh;
    color: var(--avia-blue);
}

#stages::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--white);
    margin: 80px 0 0 0;
}

.timetable-title {
    display: flex;
    align-items: flex-start;
    margin-left: 80px;
}

.plane-title {
    rotate: 135deg;
    width: 6.5vh;
}

.desktop-timetable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    color: var(--white);
    align-self: center;
    justify-self: center;
    width: 88%;
    font-family: var(--regular), sans-serif;
    border-collapse: collapse;
    margin-top: 4vh;
}

th, td {
    text-align: left;
}

tr {
    height: 11vh;
}

.header-text {
    font-size: 3vh;
}

thead {
    margin-bottom: 20px;
}

.date-text {
    font-size: 2.5vh;
}

.stage-text {
    font-family: var(--bold), sans-serif;
    font-size: 2.5vh;
}

.status-text {
    font-size: 1.9vh;
}

.merge-date {
    display: flex;
    gap: 10px;
    margin-top: 1.2vh;
    margin-left: -2.2vw;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.merge-line {
    width: 3vh;
    margin-bottom: 5px;
}

.underlined {
    border-bottom: 2px solid var(--white);
}

#partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative;
    padding-bottom: 200px;
}

.partners-icons {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.sponsor-logo {
    width: 10%;
}

.plane-front {
    width: 60%;
    margin-top: 150px;
}

.cloud-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
}

.cloud-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 150px 80px;
}

/* mobile version  */

#mobile-header {
    display: none;
}

.burger-button {
    background-color: transparent;
    border: none;
    position: absolute;
    /* top: 13px; */
    right: 20px;
    z-index: 2;
}

.mobile-header-title {
    font-family: var(--bold), sans-serif;
    color: var(--grey);
    font-size: 4vmax;
}

.mobile-menu {
    position: absolute;
    color: var(--avia-blue);
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    top: 0;
    left: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 60px 100px 0;
    font-family: var(--cn-blk);
    font-size: 8vw;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    overflow: hidden;
}

.open {
    transform: translateY(0);
}

.mobile-main-buttons {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.logout-button {
    background-color: transparent;
    border: none;
}

.mobile-timetable {
    display: none;
}

a:focus {
    outline: none;
}

.rules h2, .teams h2, .common-info h2 {
    text-align: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.rules h3, .rules h4 {
    margin: 20px 0;
}

.rules ul, .common-info ul {
    list-style: disc;
    padding-left: 2em;
}

.table__wrap {
    z-index: 2;
    overflow-x: auto;
    background-image: linear-gradient(to right, var(--dark-sky), var(--dark-sky)), 
                      linear-gradient(to right, var(--dark-sky), var(--dark-sky)), 
                      linear-gradient(to right, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0)), 
                      linear-gradient(to left, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: var(--dark-sky);
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
}

.table__wrap tr>td:first-child{
    word-wrap: break-word;
}

.table__wrap::after {
    content: ' ';
    display: block;
    position: sticky;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: white;
}


.rules-table {
    text-align: center;

}

/* #restrictions {
    display: flex;
    flex-direction: column;
    padding: 150px 80px;
    position: inherit;
} */

.code {
    font-size: 2.2vmin;
    color: var(--white);
    margin: 10px 0;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 200px 5vw 2vh 5vw;
}

.team-list .table {
    width: 90vw;
}

.team-list th {
    text-align: center;
}

.team-list td {
    text-align: center;
}

.text-left {
    align-self: flex-start;
}

@media (max-width: 767px) {
    .table__wrap {
        overflow-x: scroll;
    }
    .teams .table__wrap{
        overflow-x: auto;
        background-image: linear-gradient(to right, var(--avia-blue), var(--avia-blue)),
                          linear-gradient(to right, var(--avia-blue), var(--avia-blue)),
                          linear-gradient(to right, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0)),
                          linear-gradient(to left, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0));
        background-position: left center, right center, left center, right center;
        background-repeat: no-repeat;
        background-color: var(--avia-blue);
        background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
        background-attachment: local, local, scroll, scroll;
    }

    .team-list{
        display: block;
        padding-top: 100px;
    }

    .team-list .table {
        width: auto;
        justify-self: auto;
    }

    .team-list th {
        text-align: center;
    }

    .team-list td {
        text-align: center;
    }
}

@media (width <= 875px) {

    main {
        gap: 50px;
    }

    #desktop-header {
        display: none;
    }

    #mobile-header {
        display: flex;
        padding: 2vh 5vw;
        justify-content: space-between;
        align-items: center;
    }

    .plane {
        display: none;
    }

    .cloud-1 {
        display: none;
    }    

    .cloud-2 {
        display: none;
    }

    .tower {
        left: -150px;
        height: 60%;
        bottom: 0;
    }

    .bsuir-open-logo {
        width: 70%;
    }

    .main-title {
        font-size: 7vw;
    }

    .title {
        font-size: 7vw;
    }

    .text {
        font-size: 4vw;
    }

    .code {
        font-size: 4vw;
    }

    .plane-point-image {
        display: none;
    }

    .about-list {
        margin: 0;
        gap: 3vw;
    }

    .ages {
        margin: 0;
    }

    #about::after {
        display: none;
    }

    .title-right {
        text-align: start;
    }

    .steps-list {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2vh;
        margin: 0;
    }

    .step-button {
        font-size: 4vw;
        text-transform: lowercase;
    }

    .card-header {
        display: none;
    }

    .stage-title {
        display: none;
    }

    .card {
        background-color: transparent;
        border: none;
        box-shadow: none;
        min-height: auto;
    }

    .card-text {
        color: var(--white);
    }

    .point::marker {
        color: var(--white);
    }

    #stages {
        gap: 2vh;
    }

    #stages::after {
        display: none;
    }

    section {
        padding: 0 7vw;
        scroll-margin-top: 80px;
    }

    .desktop-timetable {
        display: none;
    }

    .mobile-timetable {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5vh;
        margin-top: 4vh;
    }

    .plane-title {
        width: 8vw;
    }

    .timetable-title {
        margin: 0;
    }

    .partners-icons {
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
    }

    .sponsor-logo {
        width: 15%;
    }

    .plane-front {
        margin: 0;
        width: 80%;
    }

    #partners {
        padding-bottom: 7vh;
        gap: 8vh;
    }

    .container {
        padding: 80px 20px;
    }

    .button {
        font-size: 2.3vmin;
    }
}