@font-face {
    font-family: "DINPro";
    src: url("../fonts/DINPro.ttf");
}

@font-face {
    font-family: "DINPro Black";
    src: url("../fonts/DINPro-Black.ttf");
}

@font-face {
    font-family: "DINPro Bold";
    src: url("../fonts/DINPro-Bold.ttf");
}

@font-face {
    font-family: "DINPro Medium";
    src: url("../fonts/DINPro-Medium.ttf");
}

@font-face {
    font-family: "Bicubik";
    src: url("../fonts/Bicubik.ttf")
}

@font-face {
    font-family: "Play Regular";
    src: url("../fonts/Play-Regular.ttf")
}

@font-face {
    font-family: "Play Bold";
    src: url("../fonts/Play-Bold.ttf")
}

:root {
    --dark-sky: #161A28;
    --yellow: #FFD100;
    --transparent-yellow: #FFD100C1;
    --red: #AF4035;
    --transparent-red: #AF4035C1;
    --lightblack: #161616;
    --white: #FFF;
    --black: #000;
    --blue: #7082C4;
    --beige: #CFC0C8;
}
/* 
IT BREAKS MOST BROWSERS THEME
@media (prefers-color-scheme: dark) {
    :root {
        --yellow: #002EFF;
        --transparent-yellow: #002EFFC1;
        --red: #50BFCA;
        --transparent-red: #50BFCAC1;
        --lightblack: #E9E9E9;
        --white: #000;
        --black: #FFF;
    }
} */

body {
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 36px;
    font-family: "Play Regular", sans-serif;
    line-height: 1.4;
    background: var(--dark-sky);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: "Bicubik", sans-serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    max-width: 810px;
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 1.15em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1em;
}

b {
    font-family: "Play Bold";
    font-weight: 700;
}

small {
    font-size: .75em;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.d-flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.color-blue {
    color: var(--blue);
}

.color-beige {
    color: var(--beige);
}

.big-text {
    font-size: 4em;
}

.hidden {
    display: none !important;
}

.underscored {
    text-decoration: underline;
}

.noised {
    background: var(--dark-sky);
    position: relative;
}

.noised * {
    z-index: 1;
}

.nav {
    background: var(--black);
    color: var(--white);
    position: fixed;
    top: calc(-100vh - 50px);
    left: 0;
    width: 100%;
    z-index: 100;
    transition-duration: .7s;
}

.nav #header-logo {
    height: 30px;
}

.nav #header-olymp-name {
    font-family: "Bicubik", sans-serif;
    font-size: 20px;
    margin-left: 12px;
}

.nav.opened {
    top: 0;
}

.nav-open-button {
    width: 35px;
    height: 30px;
    background: url("../img/burger.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    border: none;
}

.burger {
    display: none;
}

.nav-close-button {
    width: 30px;
    height: 30px;
    background: url("../img/crist.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    border: none;
}

.menu-top-bar {
    height: 50px;
}

.menu {
    height: 100vh;
    background: var(--dark-sky);
    font-weight: 700;
}

.menu-buttons {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-gap: 20px;
    margin-top: -50px;
    width: 1200px;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    transition-duration: .2s;
    text-align: center;
    margin: unset;
}

.menu-button:hover {
    background: var(--black);
    color: var(--white);
}

.menu-button.active {
    background: var(--lightblack);
    color: var(--white);
    pointer-events: none;
}

article.logo {
    background: rgb(22,26,40);
    background: linear-gradient(180deg, rgba(22,26,40,1) 25%, rgba(80,69,105,1) 60%, rgba(190,189,197,1) 85%);
    text-align: center;
}

article.logo .mountains {
    position: absolute;
    height: 80%;
    min-width: 100%;
    bottom: 0;
    left: 0;
}

article.logo .container {
    margin-top: -10%;
}

article.logo h1 {
    margin-top: 12px;
}

article.logo .overlap-gradient {
    background: rgb(22,26,40);
    background: linear-gradient(0deg, rgba(22,26,40,1) 20%, rgba(0,0,0,0) 100%); 
    width: 100%;
    height: 70px;
    bottom: -2px;
    position: absolute;
}

.logo-img {
    max-width: 80%;
}


.language.active {
    background: var(--yellow);
    color: var(--lightblack);
    pointer-events: none;
}

.grid-full-row {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 10vh;
}

.nav-ul {
    justify-content: flex-end;
    font-size: .5em;
    margin: 10px 0;
}

.nav-li {
    margin-right: 12px;
}

.nav-li:last-child {
    margin-right: 0;
}

.nav-button.active {
    color: var(--black);
    background-color: var(--transparent-yellow);
    pointer-events: none;
}

.full-screen {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.about-header {
    text-align: left;
    margin-top: 60px;
}

.about-li {
    position: relative;
    padding-left: 60px;
    margin-bottom: 25px;
}

.about-li:last-child {
    margin-bottom: 0;
}

.about-li::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 30px;
    height: 40px;
}

.about-li:nth-child(1)::before {
    content: url("../img/group1.png");
}

.about-li:nth-child(2)::before {
    content: url("../img/group2.png");
}

.about-li:nth-child(3)::before {
    content: url("../img/group3.png");
}

.about-li:nth-child(4)::before {
    content: url("../img/group4.png");
}

.about-figure {
    width: 417.5px;
    height: 475px;
}

.ages {
    position: relative;
}

.ages-image {
    object-fit: contain;
}

.background-figure {
    position: absolute;
}

.figure1 {
    bottom: -80px;
    left: 0;
    width: 27%;
    height: auto;
}

.ages-header {
    text-align: right;
    align-self: flex-end;
    margin-top: 80px;
    margin-bottom: 40px;
}

.margined {
    margin-bottom: 80px;
}

.championship {
    color: var(--white);
    padding: 40px 0;
}

.championship-header {
    margin: 0 auto;
    text-align: center;
}

.championship-text {
    font-size: 0.6667em;
}

.championship-list {
    list-style: disc;
    padding-left: 1.2em;
    font-size: 0.6667em;
}

.championship-button {
    width: fit-content;
    font-size: 0.6em;
}

/* .championship-phases {
    overflow-x: scroll;
} */

.final-text {
    opacity: 0;
    display: none;
    transition-duration: .2s;
}

.final-text.active {
    opacity: 1;
    display: block;
}

.participants {
    font-weight: 700;
    margin: 40px 0;
}

.participants:hover {
    background: var(--transparent-red);
    color: var(--white);
}

.schedule-header {
    margin: 60px 0;
    text-align: left;
}

.schedule-subheader {
    font-size: 1em;
    margin: 0;
    color: var(--blue);;
}

.schedule-paragraph {
    margin: 5px 0;
    font-size: 0.8em;
    color: var(--beige);
}

.schedule-registration {
    margin-left: 100px;
}

.schedule-selection {
    text-align: right;
    margin: 140px 0;
    position: relative;
}

.schedule-selection::before,
.schedule-selection::after,
.schedule-semifinal::after {
    position: absolute;
    color: var(--beige);
}

.schedule-selection::before {
    content: url("../img/line1.svg");
    top: -120px;
    left: 450px;
}

.schedule-selection::after {
    content: url("../img/line2.svg");
    bottom: -120px;
    left: 450px;
}

.schedule-selection .schedule-text {
    margin-left: 300px;
}

.schedule-semifinal {
    position: relative;
    margin-bottom: 100px;
}

.schedule-semifinal .schedule-text {
    margin-left: 250px;
}

.schedule-semifinal::after {
    content: url("../img/line3.svg");
    bottom: -100px;
    left: 400px;
}

.final-schedule {
    color: var(--white);
    background: url("../img/finalPhoto.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.teams .container{
    /* margin: 0 20px; */
    margin: 0 auto;
    font-size: 0.8em;
}

.final-schedule-header {
    font-weight: 700;
    font-size: 2em;
    margin: 20px 0;
}

.final-schedule-text {
    margin: 0;
}

.previous-open {
    font-weight: 700;
    position: relative;
    overflow: hidden;
}

.previous-open-video {
    margin-bottom: 50px;
    width: 100%;
}

.previous-open-header {
    margin: 50px 0;
    align-self: flex-start;
    text-align: left;
}

.previous-open-text {
    margin: 0;
}

.previous-open-vk {
    margin-bottom: 50px;
}

.figure2 {
    right: 40px;
    top: -40px;
    max-width: 550px;
    width: 100%;
    height: auto;
}

.sponsors {
    background: var(--lightblack);
    color: var(--white);
}

.sponsors-header {
    text-align: center;
    margin: 40px 0 0;
}

.sponsors-block{
    margin: 40px 0;
    display: flex;
    flex-direction: row;
}

.sponsors-block img{
    margin: 20px;
    height: 100px;
}

.sponsors-img {
    width: 100%;
    max-width: 600px;
}

.footer {
    font-size: 0.3889em;
    font-family: "DINPro Bold";
    font-weight: 700;
}

.footer-links {
    margin: 40px 0;
}

.footer-link {
    max-width: 50%;
}

.footer-paragraph {
    margin: 5px 0;
}

.footer-img {
    height: 80px;
}

.footer-img-vk {
    margin: 0px 10px;
    height: 40px;
}

.figure3 {
    left: 10vw;
    bottom: 0;
    height: calc(100vh - 100px);
}

.form {
    width: 500px;
}

.form-header {
    margin-bottom: 20px;
}

.form-input__wrap {
    width: 100%;
}

.form-input {
    width: 100%;
    margin: 10px 0;
    margin-left: -20px;
    background: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    color: var(--black);
    border: none;
}

.required-input {
    position: relative;
}

.required-input::before {
    content: "*";
    position: absolute;
    color: var(--red);
    font-size: 0.5em;
    left: -35px;
    top: 10px;
}

.form-button:hover {
    background: var(--transparent-red);
    color: var(--white);
}

.big-form-button {
    background: var(--red);
    padding: 20px 100px;
}

.big-form-button:hover {
    background: var(--transparent-red);
    color: var(--white);
}

.form-info {
    color: var(--red);
    font-size: 0.5em;
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

.team-type-button {
    font-size: 0.5em;
}

.large-text {
    font-size: 0.8em;
    text-align: justify;
}

.nav-mail-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    background: var(--dark-sky);
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px #000;
    z-index: 5;
}

.nav-mail-button img {
    width: 40px;
    height: auto;
}

.nav-menu {
    z-index: 10;
}

.form-buttons__wrap {
    align-self: flex-start;
}

.form-buttons__wrap button {
    background: var(--yellow);
    color: var(--black);
    margin-right: 20px;
}

.form-buttons__wrap button:last-child {
    margin-right: 0;
}

.form-buttons__wrap button.active {
    background: var(--red);
    color: var(--white)
}


.form-input__wrap {
    width: 100%;
    margin: 10px 0;
}

.form-input {
    width: 100%;
    font-size: 0.5em;
    margin: 10px 0;
    margin-left: -20px;
    background: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    color: var(--black);
    border: none;
}

.form-select__wrap {
    width: 100%;
    position: relative;
}

.form-select {
    font-family: "DINPro";
    font-size: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: calc(100% + 40px);
    margin: 10px 0;
    margin-left: -20px;
    background: var(--white);
    border-radius: 25px;
    padding: 10px 20px;
    color: var(--black);
    border: none;
}

.form-select__wrap::after {
    content: "▼";
    color: #BEBEBE;
    font-size: 2px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.command-status-table {
    border: 1px solid #FFF
}

.default-select-option {
    color: #BEBEBE;
}

.command-header {
    text-align: left;
    margin-top: 100px;
}

.command-status-table {
    font-size: 0.6667em;
    margin-top: 20px;
    border-collapse: collapse;
}

.command-status-col {
    padding: 15px 20px;
    border: 1px solid #FFF;
}

.command-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}

.command-info-header {
    font-size: 1em;
    margin: 40px 0 10px;
}

.command-info-paragraph {
    font-size: 0.7em;
    margin: 10px 0;
}


.command-trainee {
    margin-bottom: 30px;
}

.command-edit-trainee {
    font-size: 0.6em;
    vertical-align: text-top;
}

.command-button {
    background: var(--red);
    font-size: 0.6em;
}

.command-trainees .command-button {
    margin: -30px 0 30px;
}

.command-button:hover {
    background: var(--transparent-red);
    color: var(--white);
}

#send-to-review {
    font-size: 0.6667em;
    margin-bottom: 40px;
}

.rules h2, .teams h2, .common-info h2 {
    padding-top: 120px;
    text-align: left;
    max-width: 100%;
    margin-bottom: 30px;
}

.rules h3, .rules h4 {
    margin: 20px 0;
}

.rules ul, .common-info ul {
    list-style: disc;
    padding-left: 2em;
}

.table__wrap {
    z-index: 2;
    overflow-x: auto;
    background-image: linear-gradient(to right, var(--dark-sky), var(--dark-sky)), 
                      linear-gradient(to right, var(--dark-sky), var(--dark-sky)), 
                      linear-gradient(to right, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0)), 
                      linear-gradient(to left, rgba(0, 0, 0, .4), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: var(--dark-sky);
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
}

.table__wrap tr>td:first-child{
    word-wrap: break-word;
}

.table__wrap::after {
    content: ' ';
    display: block;
    position: sticky;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: white;
}


.table {
    font-size: 0.6667em;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 15px 20px;
    border: 1px solid #000;
}

.languages {
    font-size: .5em;
    margin-left: 40px;
}

.language {
    padding: 5px 20px;
    border-radius: 30px;
    transition: .2s;
    font-family: "DINPro Bold";
    font-weight: 700;
}

.language:hover {
    background: var(--yellow);
    color: var(--black);
}

.languages .language:first-child {
    margin-right: 10px;
}

.header-menu {
    margin-left: 40px;
    display: flex;
    width: 250px;
}


@media (max-width: 1439px) {
    .sponsors-block{
        flex-direction: column;
    }

    .header-menu {
        display: none;
    }

    .profile-btns {
        display: none;
    }

    .burger {
        display: block;
    }

    .mid-hidden {
        display: none;
    }

    body {
        font-size: 24px;
    }

    .container {
        max-width: 768px;
    }

    .menu-buttons {
        width: 768px;
    }

    .schedule-semifinal::after {
        left: calc(1.7em * 2);
    }

    .schedule-selection::before {
        transform: scale(0.6);
        top: -100px;
        left: 150px;
    }

    .schedule-selection::after {
        transform: scale(0.6);
        top: 60px;
        left: 150px;
    }

    .schedule-selection .schedule-text {
        margin-left: 170px;
    }

    .schedule-semifinal .schedule-text {
        margin-left: 150px;
    }

    .schedule-semifinal::after {
        transform: scale(0.6);
        top: 60px;
        left: 200px;
    }

    .schedule-selection {
        margin: 100px 0;
    }

    .schedule-semifinal {
        margin-bottom: 60px;
    }
}

@media (max-width: 767px) {
    .sponsors-block{
        flex-direction: column;
    }

    .sponsors-block img{
        margin: 20px 0px;
        height: auto;
        width: 100%;
        max-width: 600px;
    }

    .container {
        max-width: 320px;
    }

    .mobile-hidden {
        display: none;
    }


    body {
        font-size: 20px;
    }

    .menu-buttons {
        width: 320px;
        grid-gap: 10px;
    }

    .about-figure {
        display: none;
    }

    .schedule img {
        display: none;
    }

    .ages-image {
        display: none;
    }

    .nav {
        top: calc(-100vh - 40px);
    }

    .menu-top-bar {
        height: 40px;
    }

    .nav-open-button {
        margin: 5px 0;
    }

    .schedule-header {
        margin: 40px 0;
    }

    .schedule-text {
        margin-left: 0 !important;
    }

    .schedule-selection {
        margin: 30px 0;
    }

    .schedule-selection::before,
    .schedule-selection::after,
    .schedule-semifinal::after {
        display: none;
    }

    .schedule .container {
        align-items: center;
    }

    .schedule-header {
        text-align: center;
    }

    .schedule-selection,
    .schedule-semifinal {
        justify-content: flex-start;
    }

    .schedule-paragraph {
        text-align: left;
    }

    .big-text {
        font-size: 3em;
    }

    .championship-button {
        padding: 5px 8px;
    }

    .previous-open-video {
        height: 300px;
    }

    .footer-paragraph {
        display: none;
    }

    .previous-open-text {
        text-align: center;
    }

    .form {
        width: 280px;
    }

    .command-info {
        grid-template-columns: 1fr;
    }

    .big-form-button {
        padding: 10px 40px;
    }

    .footer-img {
        height: auto;
        margin: 0;
    }

    .footer-img-bsuir {
        width: 70px;
    }

    .footer-img-fksis {
        width: 50px;
    }

    .footer-img-icpc {
        width: 100px;
    }

    .footer-img-vk {
        margin:0;
    }

    .table__wrap {
        overflow-x: scroll;
    }

    .table th, .table td {
        padding: 5px 10px;
    }

    .command-status-col {
        padding: 5px 10px;
    }

    .rules h2, .teams h2, .common-info h2 {
        padding-top: 60px;
    }

    .command-info-paragraph {
        margin: 5px 0;
    }

    .nav-mail-button {
        padding: 5px;
        width: 40px;
        height: 40px;
    }

    .nav-mail-button img {
        width: 30px;
    }

    .languages__wrap {
        width: 100%;
        justify-content: space-between;
    }
}
