{% load static %}
<footer class="footer noised">
    <div class="footer-links d-flex justify-around">
        <a class="footer-link footer-bsuir d-flex justify-between align-center" href="https://bsuir.by">
            <img class="footer-img footer-img-bsuir" src="{% static 'assets/img/bsuir-white.png' %}" alt="БГУИР">
            </img>
        </a>
        <div class="footer-link footer-vk d-flex justify-between align-center">
            <a href="https://vk.com/fksis.portal">
                <img class="footer-img footer-img-vk" src="{% static 'assets/img/vk.png' %}" alt="VK">
                </img>
            </a>
            <div class="d-flex direction-column">
                <p class="footer-paragraph">
                    <a href="https://vk.com/fksis.portal">
                        Факультет компьютерных систем и сетей БГУИР
                    </a>
                </p>
                <p class="footer-paragraph">
                    <a href="https://vk.com/studsovet_fksis">
                        Студсовет ФКСиС
                    </a>
                </p>
            </div>
        </div>
        <a class="footer-link footer-fksis d-flex justify-between align-center" href="https://fksis.bsuir.by">
            <img class="footer-img footer-img-fksis" src="{% static 'assets/img/fcsan-white.png' %}" alt="ФКСиС">
            </img>
        </a>
        <a href="https://icpc.global" class="footer-link footer-icpc">
            <img class="footer-img footer-img-icpc" src="{% static 'assets/img/icpc-white.png' %}" alt="ICPC">
            </img>
        </a>
    </div>
</footer>
